body{
  margin: 0px;
}
.btn-transition {
  transition: background-color 1s ease;
}
.navbar {
  margin-bottom: 1%;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container>.row {
  display: flex;
  justify-content: space-around;
}

.container-fluid-h1 {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.row1 {
  margin: 1%;
}

.img-hover {
  transition: transform 0.3s;
}

.img-hover:hover {
  transform: scale(1.1);
}


.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 90%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.img-form {
  width: 50%;
}

.div-rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.div-rrss > :first-child  {
  margin-left: -10%;
}

.rrss-img {
  height: 50px;
}

.rrss-img>* {
  align-items: center;
  height: 50px;
  margin: 20px;
}


.img-user {
  height: 100px;
}

.col {
  margin-top: 1%;
}

.container {
  display: flex;
  justify-content: center;
}

.div-p p {
  margin: 0;
}

.div-h5 {
  display: flex;
  justify-content: center;
}

.pagination {
  margin-top: 1%;
}
.div-table {
  display: flex;
  justify-content: flex-start;
  margin-right: 1%;
}


.fila {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.fila-div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 15%;
}

.div-p {
  height: 15%;
  display: flex;
  align-items: center;
}

.row-clasi {
  padding: 5%;
  width: 80%;
}

.cuadrado {
  width: 50%;
  position: relative;
  align-items: center;
}

.seccion {
  width: 100%;
  height: 15%;
  position: absolute;
  transition: transform 0.3s;
  background: linear-gradient(to top, orange, yellow);
}

.seccion:hover {
  transform: scale(1.1);
}

.seccion:nth-child(1) {
  top: 0%;
}

.seccion:nth-child(2) {
  top: 14.285%;
}

.seccion:nth-child(3) {
  top: 28.57%;
}

.seccion:nth-child(4) {
  top: 42.85%;
}

.seccion:nth-child(5) {
  top: 57.14%;
}

.seccion:nth-child(6) {
  top: 71.42%;
}

.seccion:nth-child(7) {
  top: 85.71%;
}


.tab-content{
  width: 100%;
}
.contain-contac{
  display: flex;
  justify-content: flex-start;
  margin-left: 0; 
}
.card-contac{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.img-user-cont{
  height: 50px;
}
.card-entrada{
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.card-salida{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  align-items: end;
}
.card-body-mnsg-salida{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-juego{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-head-entrada{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.card-head-salida{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.card-body-juego{
  display: flex;
  justify-content: center;
}
.div-juego-btn{
  display: flex;
  flex-direction: row;
}
.div-juego-btn>*{
  margin: 1%;
}

.container-perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-perfil>*{
  margin: 1%;
}
.user-ficha{
  width: 85%;
}
.user-ficha>*{
  width: 100%;
  margin: 1%;
}







.footer {
  margin-top: 5%;
  background: linear-gradient(to bottom, #efefef, #fde874);
}

.foot-row {
  display: flex;
  flex-direction: row;

}
.foot-row {
  display: flex;
  flex-direction: row;
}
.foot-row-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.img-foot {
  margin-top: 5%;
  width: 20%;
}
